@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
}

.sidebar {
    position: relative;
    width: 40%;
}

.sidebar__image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.sidebar__image-credit {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    font-size: 12px;
}

.sidebar__image-credit a {
    color: #fff;
}

.logo {
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, .5);
    color: #fff;
    width: 100%;
    padding: 10px 0;
}

.logo__icon {
    width: 15%;
}

.logo__text {
    font-family: "Norse-Bold";
    text-transform: uppercase;
    font-size: 85px;
    margin-top: 20px;
}

main {
    width: 60%;
    background-color: #FAF9F6;
}

.site-info {
    margin: 120px 120px 60px 40px;
    font-weight: bold;
    font-size: 18px;
}

.site-info p:first-child {
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px 40px;
    margin-bottom: 20px;
    box-shadow: 0 4px 2px -2px lightgray;
}

fieldset {
    border: none;
    width: 75%;
}

legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

input, label {
    display: flex;
    flex-direction: column;
    width: 250px;
}

label {
    text-transform: uppercase;
    font-size: 10px;
    color: gray;
    font-weight: bold;
    letter-spacing: 1.8px;
}

input {
    height: 30px;
    border: solid 1px #E5E7EB;
    border-radius: 5px;
}

input:focus-visible {
    box-shadow: 0 6px 2px -2px lightgray;
}

.form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-submit {
    margin-left: 40px;
}

.btn--submit {
    background-color: #966F33;
    color: #fff;
    border: none;
    padding: 12px 40px;
    border-radius: 5px;
    box-shadow: 0 5px 2px lightgray;
    font-weight: bold;
    margin-bottom: 30px;
}

.form-submit a {
    text-decoration: none;
    color: #966F33;
}
